
<html>
<body>
    <p>Título: {{book.title}}</p>
    <p>Género: {{book.gender}}</p>
    <p>Año: {{book.year}}</p>
    <p>Ejemplares: {{book.copies}}</p>
    <p>Descripción: {{book.description}}</p>

    {{#book.Elements}}
    {{#book.ElementsName}}
    <p>{{.}}: {{value}}</p>
    {{/book.ElementsName}}
    {{/book.Elements}}
    
    <h6>Autor/es</h6>
    {{#book.Author}}
    <p>Nombre: {{Name}}</p>

    {{#book.Elements}}
    {{#book.ElementsName}}
    <p>{{.}}: {{value}}</p>
    {{/book.ElementsName}}
    {{/book.Elements}}
    {{/book.Author}}

    <br>

    <button href="/book/{{book.id}}/delete">Borrar libro</button>
    <button href="/book/{{book.id}}/edit">Editar libro</button>
    <button href="/">Volver</button>
    
</body>
</html>
