
<html>
<body>
    <p>Título: {{book.title}}</p>
    <p>Género: {{book.gender}}</p>
    <p>Año: {{book.year}}</p>
    <p>Ejemplares: {{book.copies}}</p>
    <p>Descripción: {{book.description}}</p>
    if (book.ElementsName != null){

    }

    <button href="/book/{{book.id}}/delete">Delete book</button>

    <br>

    <a href="/">Volver</a>
</body>
</html>
